.nav-bar-background-quote {
    -fx-background-color: #D4ECE2;
}

.main-nav-bar-background {
    -fx-background-color: #237C55;
}

.logo_circle {
    -fx-stroke-width: 0;
    -fx-fill: #ffffff;
}

.button-nav-bar {
    -fx-background-color: transparent;
    -fx-border-width: 0;
    -fx-font-size: 20;
    -fx-font-family: "Montserrat SemiBold";
    -fx-text-fill: #ffffff;
}

.button-feature {
    -fx-background-color: transparent;
    -fx-border-width: 0;
    -fx-font-size: 20;
    -fx-font-family: "Montserrat SemiBold";
    -fx-text-fill: #237C55;
}

.quote {
    -fx-font-size: 15;
    -fx-font-family: "Montserrat SemiBold";
    -fx-text-fill: #237C55;
}

.date-time {
    -fx-font-size: 12;
    -fx-font-family: "Montserrat Medium";
    -fx-text-fill: #000000;
}
.comment {
    -fx-font-size: 9;
    -fx-font-family: "Montserrat Medium";
    -fx-text-fill: #000000;
}